---
version: "2.1"
services:
  wireguard:
    image: lscr.io/linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - SERVERURL={{ vpn_host }} #optional
      - SERVERPORT={{ vpn_port }} #optional
      - PEERS={{ vpn_peers }} #optional
      - PEERDNS=auto #optional
      - INTERNAL_SUBNET=10.9.0.0 #optional
      - ALLOWEDIPS=0.0.0.0/0 #optional
    volumes:
      - /extra/wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - {{ vpn_port }}:{{ vpn_port }}/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
